/*Custom stylesheet for article managment*/

#test10{
	background-color: orange;
	height: 100px;
}
#test2{
	background-color: green;
	height: 100px;
}


#new-article-align{
	float: right;
}

.form-inline .form-control {
margin-right: 15px;

}

#notifications{
	padding-right: 0px;
}