/*Custom stylesheet for article managment*/

#new-article-align{
	float: right;
}

.form-inline .form-control {
	margin-right: 15px;
}

#notifications{
	background-color: #501b16;
	height: 88vh;
	margin-left: 0;
	color: #d9d9d9;
}

#article_list {
	max-height: 84vh;
	overflow-y: auto;
	overflow-x: hidden;
	margin-right: -15px;
}

#new-article{
	float:right !important;
}

.padding_10 {
	padding: 10px;
}

.product_article,
.product_unit,
.product_price,
.product_supply {
	margin: 45px 0 0;
}

.product_article:first-letter,
.product_unit:first-letter {
	text-transform: uppercase;
}

#product_header {
	border-bottom: 1px #454545 solid;
}

#notifications_header {
	margin: 0 3px;
	padding: 0 20px;
	border-bottom: 2px #d9d9d9 solid;
	text-align: center;
}