/* Global Stylesheet */

body {
	background-color: #eeeeee;
}

.primary_color {
	background-color: #a5372d;
}

.secondary_color,
.top-bar.expanded .title-area {
	background-color: #d38104;
}

.button_secondary_color {
	background-color: #d38104;
	border-color: #c17706;
}

.button_secondary_color:hover {
	background-color: #c17706;
}

.top-bar-section ul li,
.top-bar-section li.active:not(.has-form) a:not(.button),
.top-bar-section li:not(.has-form) a:not(.button),
.top-bar-section ul li.active > a,
.top-bar-section li.active:not(.has-form) a:hover:not(.button),
.top-bar-section li:not(.has-form) a:hover:not(.button),
.top-bar-section ul li:hover:not(.has-form) > a {
	background: #a5372d;
	margin: 0 2px;
	color: #cbcbcb;
}

.top-bar-section li.active:not(.has-form) a:not(.button),
.top-bar-section ul li.active > a,
.top-bar-section li.active:not(.has-form) a:hover:not(.button),
.top-bar-section li:not(.has-form) a:hover:not(.button),
.top-bar-section ul li:hover:not(.has-form) > a {
	border-bottom: 3px #d38104 solid;
	color: #ffffff;
}

.top-bar,
.top-bar .title-area {
	height: 50px;
}

.top-bar.expanded .toggle-topbar a {
	color: #ffffff;
}

.top-bar.expanded .toggle-topbar a span::after {
	box-shadow: 0px 0px 0px 1px #ffffff, 0px 7px 0px 1px #ffffff, 0px 14px 0px 1px #ffffff;
}

.search_bar {
	width: 100%;
	background-color: #ffffff;
	height: 50px;
	padding: 5px 0;
	border-bottom: 1px #c5c5c5 solid;
	box-shadow: #dadada 0 2px 2px 0;  
}

/* Media Queries below this line*/

@media only screen and (min-width: 40em) {
	ul.right {
		border-left: 2px #802017 solid;
	}
}