#loginForm {
	width: 350px;
	margin: 100px auto 0 auto;
}

#loginForm h1 {
	text-align: center;
}

.alert {
	margin-top: 5px;
}

#loginForm input[type='submit'] {
	width: 100%;
	float: left;
	line-height: 20px;
	padding: 10px 10px;
	background: #a5372d;
	border: 1px solid #90271D;
	color: #fff;
	border-radius: 2px;
	font-size: 17px;
}
