/* Custom Stylesheet for Orders */

.nav-pills > li > a {
	color: #535353;
	border-bottom: 1px #dddddd solid;
}

.nav-pills > li:last-child > a {
	border-bottom: none;
}

a:focus, 
a:hover {
	color: #535353;
}

.panel-default {
	margin-top: 10px;
	border: 1px #dddddd solid;
}

.panel-body {
	padding: 0;
}

.nav-pills > li.active > a, 
.nav-pills > li.active > a:focus, 
.nav-pills > li.active > a:hover {
	background-color: #501b16;
}

.nav-pills > li > a {
	border-radius: 0;
	cursor: pointer;
}

.nav-stacked > li + li {
	margin-top: 0;
}

#shopping_cart {
	background-color: #501b16;
	height: 88vh;
	margin-left: 0;
	color: #d9d9d9;
}

#shopping_cart input {
	color: #555555;
	width: 200%;
}

.nav-pills > li > a:first-letter {
	text-transform: uppercase;
}

.padding_10 {
	padding: 10px;
}

.product_article,
.product_unit,
.product_price,
.product_input {
	margin: 45px 0 0;
}

.product_article:first-letter,
.product_unit:first-letter {
	text-transform: uppercase;
}

#product_header {
	border-bottom: 1px #454545 solid;
}

#product_list {
	max-height: 84vh;
	overflow-y: auto;
	overflow-x: hidden;
	margin-right: -15px;
	margin-left: -15px;
}

.form-control {
	width: 50%;
	display: inline-block;
}

#shopping_cart_header {
	margin: 0 3px;
	padding: 0 20px;
	border-bottom: 2px #d9d9d9 solid;
	text-align: center;
}

/* Media Queries below this line */
