/* Custom Stylesheet for Orders */

.nav-pills > li > a {
	color: #535353;
	border-bottom: 1px #dddddd solid;
}

.nav-pills > li:last-child > a {
	border-bottom: none;
}

a:focus, a:hover {
	color: #535353;
}

.panel-default {
	margin-top: 10px;
	border: 1px #dddddd solid;
}

.panel-body {
	padding: 0;
}

.nav-pills > li.active > a, 
.nav-pills > li.active > a:focus, 
.nav-pills > li.active > a:hover {
	background-color: #501b16;
}

.nav-pills > li > a {
	border-radius: 0;
}

.nav-stacked > li + li {
	margin-top: 0;
}

#shopping_cart {
	background-color: #501b16;
	height: 88vh;
	padding-right: 0px;
	color: #d9d9d9;
}

/* Media Queries below this line */
